@import './../../../less/config.less';

.sheet_detail_page {
  @content-padding: @padding-20;
  .body {
    background-color: @grey-bg-color;

    &>div {
      background-color: @white-color;
      &>.title{
        font-weight: normal;
        color: @title-color;
        font-size: @small-font;
        margin-bottom: @margin-20;
      }
    }

    .tag_box{
      padding: 0 @padding-20;
    }

    .music_list {
      padding-top: @padding-20;
      &>.title {
        margin: 0 @padding-30 @padding-30;
      }
    }

    .sheet {
      padding: 47/100rem @padding-30 @padding-20;
    } 
  }
}
